<%- include ('../partials/header.ejs') %>

<div class="container">
  

  <div class="login-div">
    <div class="login-txt">
      <h3>LOGIN</h3>
    </div>

    <form action="/login" method="POST">
      <%- include ('../partials/messages.ejs') %>
      <div>
        <label for="email">Email</label>
      </div>
      <div>
        <input
          class="login-ip"
          type="email"
          name="email"
          placeholder="email"
          autocomplete="off"
          required
        />
      </div>
      <div>
        <label for="password">Password</label>
      </div>
      <div>
        <input
          class="login-ip"
          type="password"
          name="password"
          placeholder="password"
          required
        />
      </div>
      <div>
        <input class="login-sub" type="submit" value="LOGIN" />
      </div>
      <div style="text-align: right">
        <a href="/forget">Forget Password</a>
      </div>
      <div>Not registered yet? Register <a href="/register">here</a></div>
    </form>
  </div>
</div>

<%- include ('../partials/footer.ejs') %>
