<%- include ('../partials/header.ejs') %>

<div class="container">
  

  <div class="login-div">
    <div class="login-txt">
      <h3>FORGET PASSWORD</h3>
    </div>

    <form action="/forget" method="POST">
      <%- include ('../partials/messages.ejs') %>
      <div>
        <input
          class="login-ip"
          type="email"
          name="email"
          placeholder="email"
          autocomplete="off"
          required
        />
      </div>
      <div>
        <input class="login-sub" type="submit" value="Send Link" />
      </div>
      <div>
        An email will be sent to your registered email with a reset link
      </div>
    </form>
  </div>
</div>

<%- include ('../partials/footer.ejs') %>
