<%- include ('../partials/header.ejs') %>

<div class="container">
  

  <div class="menu">
    <div>
      <a href="/profile">Back to Profile</a>
    </div>
  </div>

  <div class="login-div">
    <div class="login-txt">
      <h3>CHANGE PASSWORD</h3>
    </div>

    <!-- Change Password -->
    <form action="/changepassword" method="POST">
      <%- include ('../partials/messages') %>
      <div>
        <input
          class="login-ip"
          type="password"
          name="oldpassword"
          placeholder="Current Password"
          autocomplete="off"
          required
        />
      </div>
      <div>
        <input
          class="login-ip"
          type="password"
          name="newpassword"
          placeholder="New Password"
          autocomplete="off"
          required
        />
      </div>
      <div>
        <input class="login-sub" type="submit" value="CHANGE PASSWORD" />
      </div>
    </form>
  </div>
</div>

<%- include ('../partials/footer.ejs') %>
