<%- include ('../partials/header.ejs') %>
<div class="container">
  <%- include ('../partials/navbar.ejs') %>
  <div class="menu">
    <div>
      <a href="/blogs">Back</a>
    </div>
  </div>
  <div class="profile">PROFILE</div>
</div>

<%- include ('../partials/footer.ejs') %>
