<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRYPT - A secret place for you</title>
    <meta
      name="description"
      content="A secret & secure place to write your blogs"
    />
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
  <%- include ('../partials/navbar.ejs') %>
