<nav>
	<div class="nav-header">
		<a href="/">
			<div class="logo">
				<h2>CRYPT</h2>
			</div>
		</a>
	</div>
	<div class="spacer-div"></div>
	<div class="nav-item">
		<div class="switch-theme-div">
			<input type="checkbox" name="checkbox" id="theme-checkbox" />
			<label for="theme-checkbox">
				<div>🌙</div>
				<div>🌞</div>
				<div class="ball"></div>
			</label>
		</div>
	</div>
</nav>
