<nav>
	<div class="nav-header">
		<a href="/">
			<div class="logo">
				<h2>CRYPT</h2>
			</div>
		</a>
	</div>
	<div class="menu">
		<div>
		  <a href="/blogs/new">Write</a>
		</div>
		<div>
		  <a href="/profile">Profile</a>
		</div>
		<div>
		  <a href="/logout">Logout</a>
		</div>
	</div>
	<div class="nav-item">
		<div class="switch-theme-div">
			<input type="checkbox" name="checkbox" id="theme-checkbox" />
			<label for="theme-checkbox">
				<div>🌙</div>
				<div>🌞</div>
				<div class="ball"></div>
			</label>
		</div>
	</div>
</nav>
