<% if (error != '') { %>
<div class="message"><%= error %></div>
<% } %>

<% if (success_msg != '') { %>
<div class="message"><%= success_msg %></div>
<% } %>

<% if (error_msg != '') { %>
<div class="message"><%= error_msg %></div>
<% } %>

<% if (typeof (errors) !== "undefined") { %>
<div class="message"><%= errors %></div>
<% } %>