<%- include ('./partials/header.ejs') %>

    <div class="container">
        <%- include ('./partials/navbar.ejs') %>
        <div class="welcome">
          <h2>Welcome to Crypt Blog</h2>
          <p>A place where only you can view our blogs</p>
        </div>
        <div class="links">
          <div>
            <a href="/users/login">Login</a>
          </div>
          <div>
            <a href="/users/register">Register</a>
          </div>
        </div>
    </div>

<%- include ('./partials/footer.ejs') %>
