@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --global-font-family: 'PT Serif', san-serif;
  --text-links: rgb(255, 71, 101);
  --dark-text-primary: #000000;
  --dark-text-secondary: #2a2a2a;
  --dark-bg-primary: #ffffff;
}

/* :root {
	--global-font-family: 'Source Serif Pro', serif;
	--dark-bg-primary: #282c35;
	--dark-text-primary: #ffffff;
	--dark-text-secondary: #dadada;
	--bg-primary: #ffffff;
	--text-primary: #000000;
	--text-secondary: #111111;
	--text-links: pink;
} */

.light {
  --text-primary: #000000;
  --text-secondary: #272727;
}

.dark {
  --dark-bg-primary: #282c35;
  --dark-text-primary: #ffffff;
  --dark-text-secondary: #dadada;
  --bg-primary: #e4e4e4;
  --text-links: pink;
}

/* body {
  width: 100%;
  height: 100%;
} */

body {
  padding: 0;
  margin: 0;
  font-family: var(--global-font-family);
  color: var(--dark-text-primary);
  background-color: var(--dark-bg-primary);
  caret-color: var(--text-links);
}

a {
  color: var(--text-links);
  text-decoration: none;
}

input[type='submit'] {
  cursor: pointer;
  background-color: transparent;
  color: var(--dark-text-primary);
  border: 1px solid var(--dark-text-primary);
}

input:required {
  box-shadow: none;
}

textarea {
  font-family: var(--global-font-family);
  background-color: transparent;
  color: var(--dark-text-primary);
  border: 1px solid var(--dark-text-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Custom Styles */
.container {
  width: 60%;
  margin: 0 auto;
}

.welcome {
  text-align: center;
}

.welcome h2 {
  font-size: 40px;
  margin: 20px 0;
}

.welcome p {
  color: var(--dark-text-secondary);
  margin-bottom: 20px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links div {
  margin: 10px 0;
  font-size: 20px;
}

/* Navigation Bar */
nav {
  display: flex;
  align-items: center;
  border-bottom: 1px solid gray;
  padding: 10px 0;
}

.logo {
  font-size: 40px;
  letter-spacing: 1.5px;
}

.spacer-div {
  flex: 2;
}

/* Light/Dark Mode */
.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.switch-theme-div {
  display: none;
  width: 52px;
  height: 28px;
}

.switch-theme-div input {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  padding: 0;
  margin: 0;
}

.switch-theme-div label {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  width: 52px;
  height: 28px;
  padding: 2px;
  background-color: rgb(50, 50, 50);
  border-radius: 20px;
}

.switch-theme-div label div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  /* padding-bottom: 2px; */
}

.switch-theme-div label .ball {
  cursor: pointer;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
}

.ball:hover,
.ball:focus {
  box-shadow: 0px 0px 2px 2px var(--text-links);
}

/* LOGIN FORM */
form > div {
  padding: 5px 0;
}

.login-txt,
.register-txt {
  font-size: 18px;
}

.login-div,
.register-div {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 10%;
}

.login-ip,
.blog-ip,
.register-ip {
  height: 40px;
  font-family: var(--global-font-family);
  font-size: 16px;
  padding: 5px 0;
  width: 100%;
  outline: none;
  border: none;
  color: var(--dark-text-primary);
  border-bottom: 1px solid var(--dark-text-primary);
  background-color: transparent;
}

.login-sub,
.register-sub {
  height: 32px;
  font-size: 16px;
  font-family: var(--global-font-family);
  width: 100%;
  color: var(--dark-text-primary);
  background-color: transparent;
  border: 1px solid var(--dark-text-primary);
}

::-webkit-input-placeholder {
  color: var(--dark-text-secondary);
}

::-moz-placeholder {
  color: var(--dark-text-secondary);
}

:-ms-input-placeholder {
  color: var(--dark-text-secondary);
}

::-ms-input-placeholder {
  color: var(--dark-text-secondary);
}

::placeholder {
  color: var(--dark-text-secondary);
}

/* Media Queries */
@media (max-width: 768px) {
  .container {
    width: 90%;
  }
  .login-div {
    margin-top: 5%;
    padding: 10px;
  }
  .logo {
    font-size: 24px;
    margin-top: 5px;
  }
}

/* Blogs Page */
.blogs {
  display: flex;
  flex-direction: column;
}

#filters {
  padding-top: 10px;
}

.filter-dropdown {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown-btn {
  flex: 2;
  text-align: right;
}

.dropdown-btn h2 {
  font-size: 20px;
  font-weight: 700px;
  padding-right: 10px;
}

.dropdown {
  display: none;
}

.dropdown div {
  padding: 5px 0;
}

.dropdown label {
  display: inline-block;
  width: 80px;
}

.dropdown input {
  font-family: var(--global-font-family);
  padding: 5px;
  height: 32px;
  color: var(--dark-text-primary);
  background-color: var(--dark-bg-primary);
  border: 1px solid var(--dark-text-primary);
}

.dropdown-active {
  display: block;
}

.blog-div {
  padding: 10px 0;
  border-bottom: 1px solid gray;
}

.blog-div h2 {
  font-size: 28px;
  letter-spacing: 1px;
}

.blog-div p {
  color: var(--dark-text-secondary);
}

.write-blog {
  margin-top: 15px;
}

.menu {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border-bottom: 1px solid gray;
}

.menu div a {
  padding: 5px;
  font-size: 18px;
}

/* Add Post */
.add-blog-header {
  margin: 10px 0;
}

#post {
  width: 100%;
  outline: none;
  font-size: 16px;
  padding: 5px;
}

.post-sub {
  height: 32px;
}

/* View Blog Page */
.blog-title h2 {
  font-size: 30px;
  letter-spacing: 1px;
  padding: 10px 0;
}

.blog-post-body {
  border-bottom: 1px solid gray;
}

.blog-post-body p {
  white-space: pre-wrap;
  margin-bottom: 10px;
}

.blog-post-info {
  text-align: right;
  color: var(--dark-text-secondary);
  padding: 5px 0;
  font-size: 15px;
}
/* MODEL */
/* https://stackoverflow.com/questions/1725759/css-how-to-center-box-div-element-directly-in-center*/
#model-wrapper {
  position: fixed;
  z-index: 1;
  display: none;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

#delete-model {
  box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
  background-color: var(--dark-bg-primary);
  z-index: 2;
  width: 250px;
  font-size: 20px;
  text-align: center;
}

#delete-model div {
  padding: 10px;
}

#delete-model div a {
  padding: 0 10px;
}

/* Google recaptcha */
.recaptcha-div {
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
  text-align: center;
}

.g-recaptcha {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Profile Page */
.profile h2 {
  margin-top: 10px;
}

.profile > div {
  border-bottom: 1px solid gray;
  padding: 10px 0;
}

.profile > div > h3 {
  margin-bottom: 10px;
}

.profile > div > p {
  margin: 5px 0;
  color: var(--dark-text-secondary);
}

/* Pagination */
.pagination {
  display: flex;
}

.spacer {
  flex: 2;
}

.pagination a {
  padding-top: 10px;
}

@media (max-width: 320px) {
  .g-recaptcha {
    transform: scale(0.9);
  }
}
