* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    font-family: 'Source Serif Pro', serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.container {
    width: 60%;
    margin: 0 auto;
}


/* Navigation Bar */
nav {
    /* width: 100%; */
    display: flex;
    /* justify-content: center; */
    /* justify-items: center; */
    align-items: center;
}

.nav-header {
    font-size: 18px;
    letter-spacing: 0.8px;
    background-color: black;
    color: white;
    padding: 4px;
    margin-top: 5px;
    width: fit-content;
    border-radius: 4px;
}

/* LOGIN FORM */
form > div {
    padding: 5px 0;
}

.login-txt {
    font-size: 18px;
}

.login-div {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 10%;
}

.login-ip, .blog-ip {
    height: 40px;
    font-family: 'Source Serif Pro', serif;
    font-size: 16px;
    padding: 5px;
    width: 100%;
    outline: none;
}

.login-sub {
    height: 32px;
    font-size: 16px;
    font-family: "Source Serif Pro", serif;
    width: 100%;
}

/* Media Queries */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }
    .login-div {
        margin-top: 5%;
        padding: 10px;
    }
    nav {
        /* padding: 5px 10px; */
    }
}

/* Blogs Page */
#logout {
    margin-left: auto;
}
.write-blog {
    /* padding: 10px 0; */
    margin-top: 15px;
}

/* Add Post */
.add-blog-header {
    margin: 10px 0;
}

#post {
    width: 100%;
    outline: none;
    font-size: 16px;
    font-family: "Source Serif Pro", serif;
    padding: 5px;
}

.post-sub {
    width: 100px;
    height: 32px;
}