<%- include ('../partials/header.ejs') %>

<div class="container">
	<%- include ('../partials/navbar.ejs') %>

	<div style="text-align: center; margin-top: 10%;">
		<h2>404 - Page not found</h2>
	</div>
</div>

<%- include ('../partials/footer.ejs') %>
