<%- include ('../partials/header.ejs') %>

<div class="container">
  <%- include ('../partials/navbar.ejs') %>

  <div class="register-div">
    <div class="register-txt">
      <h3>REGISTER</h3>
    </div>

    <form id="register-form" action="/users/register" method="POST">
      <%- include ('./partials/messages.ejs') %>
      <div>
        <label for="name">Name</label>
      </div>
      <div>
        <input class="register-ip" type="text" name="name" placeholder="name" autocomplete="off" required />
      </div>
      <div>
        <label for="email">Email</label>
      </div>
      <div>
        <input class="register-ip" type="email" name="email" placeholder="email" autocomplete="off" required />
      </div>
      <div>
        <label for="password">Password</label>
      </div>
      <div>
        <input class="register-ip" type="password" name="password" placeholder="password" required />
      </div>
      <div class="recaptcha-div">
        <div class="g-recaptcha" data-sitekey="6LegV80ZAAAAAFSiRTOvcEl5PgcrhoLzqqYZPeUu"></div>
      </div>
      <div>
        <input class="register-sub" type="submit" value="Register" />
      </div>
      <div>Already have an account? Login <a href="/users/login">here</a></div>
    </form>
  </div>
</div>

<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
  document.querySelector('.g-recaptcha').setAttribute('data-theme', localStorage.getItem('crypt.theme'));
</script>
<%- include ('../partials/footer.ejs') %>